<footer class="footer bg-dark scroll-py-1 mt-auto">
    <div class="container">
        <span class="text-light-emphasis">
            &copy;NatureScape Explorer - 2023
            Made by Hrishikesh G Kulkarni
        </span>
    </div>
</footer>
